In [11]:
# Import Libraries

import pandas as pd
import numpy as np

In [12]:
# Load Data

df = pd.read_csv('C:/Users/hp/OneDrive/Desktop/Portfolio/Marketing/Data/marketing_data.csv')
df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506,1922,6,Health & Wellness,01/01/2021
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116,7523,7,Fashionistas,02/01/2021
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,03/01/2021
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217,1820,7,Health & Wellness,04/01/2021
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,05/01/2021

In [18]:
# Dataset General Check 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       100000 non-null  int64
 1   Company           100000 non-null  object
 2   Campaign_Type     100000 non-null  object
 3   Target_Audience   100000 non-null  object
 4   Duration          100000 non-null  object
 5   Channel_Used      100000 non-null  object
 6   Conversion_Rate   100000 non-null  float64
 7   Acquisition_Cost  100000 non-null  object
 8   ROI               100000 non-null  float64
 9   Location          100000 non-null  object
 10  Language          100000 non-null  object
 11  Clicks            100000 non-null  int64
 12  Impressions       100000 non-null  int64
 13  Engagement_Score  100000 non-null  int64
 14  Customer_Segment  100000 non-null  object
 15  Date              100000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 12.2+ MB

In [24]:
# Summary Statistics 

df.describe()

,Campaign_ID,Conversion_Rate,ROI,Clicks,Impressions,Engagement_Score
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,0.080065,5.001896,549.167260,5510.295570,5.494140
std,28867.657797,0.040584,1.734910,259.881738,2597.237107,2.869597
min,1.000000,0.010000,2.000000,100.000000,1000.000000,1.000000
25%,25000.750000,0.050000,3.500000,324.000000,3274.000000,3.000000
50%,50000.500000,0.080000,5.000000,548.000000,5519.000000,5.000000
75%,75000.250000,0.110000,6.510000,774.000000,7757.000000,8.000000
max,100000.000000,0.150000,8.000000,1000.000000,10000.000000,10.000000

In [25]:
df.describe(include="object")

,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Acquisition_Cost,Location,Language,Customer_Segment,Date
count,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000
unique,5,5,5,4,6,14985,5,5,5,365
top,Alpha Innovations,Influencer,Men 18-24,30 days,Email,"$17,380.00",New York,Mandarin,Foodies,21/12/2021
freq,20192,20104,20187,25148,16843,19,20065,20222,20245,274

In [21]:
# Funnel Order Logic Check

(df["Impressions"] < df["Clicks"]).sum(), (df["Clicks"] < df["Conversion_Rate"]).sum()

(np.int64(0), np.int64(0))

In [26]:
# Duplicates Check

df.duplicated().sum()

np.int64(0)

In [ ]:
import matplotlib.pyplot as plt

df["Acquisition_Cost"].hist()
plt.title("Distribution of Marketing Spend")
plt.show()

In [33]:
df.groupby("Channel_Used")["Acquisition_Cost"].sum().sort_values(ascending=False)

Channel_Used
Instagram     $9,716.00$13,766.00$9,975.00$9,485.00$14,756.0...
Email         $8,590.00$16,580.00$11,552.00$11,608.00$5,796....
Facebook      $18,066.00$17,189.00$12,824.00$17,608.00$9,182...
Google Ads    $16,174.00$11,566.00$13,280.00$17,502.00$19,22...
Website       $11,067.00$11,346.00$5,478.00$18,684.00$15,955...
YouTube       $10,200.00$12,724.00$16,452.00$9,407.00$8,699....
Name: Acquisition_Cost, dtype: object

### Key Observations
- Acquisition_Cost is stored as a string with the '$' sign and require parsing
- Dates are stored as strings and require parsing
- Most KPIs are missing and require creation

These issues will be addressed in the data cleaning phase.